table th{
    border:1px solid blue;
    padding: 8px;
    text-align: left;
    background-color: yellow;
    font-weight: bold;
    border: 2px solid black;
}
table td{
     border:1px solid blue;
    padding: 8px;
    text-align: left;
    background-color: rgb(247, 247, 228);
    font-weight: bold;
    border: 2px solid black;
    
}
.hidden-element{
    visibility: hidden;
}
.element{
    width: 200px;
    height: 200px;
    background-color: blue;
    opacity: 0.5;
    position: static;
  
}
.opacity{
    background-color: aqua;
}
table{
     box-align: center;
}
h1{
    text-align: center;
}
